body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #3C5BFF;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.language-listings {
    padding: 20px;
    text-align: center;
}

.language-info {
    background-color: #fff;
    color: #000;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 2px 50px;
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.teacher-card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 1px solid #ccc;
    width: 750px;
    border-radius: 8px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.teacher-card img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-right: 20px;
}

.teacher-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.teacher-details h3 {
    margin: 0;
    margin-bottom: 15px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.teacher-details h3 span {
    color: #777; /* Set the color for the age text */
    font-size: 14px; /* Set the font size for the age text */
    margin-left: 10px; /* Add some space between the name and age */
}

.teacher-details p {
    margin: 8px 0; /* Add margin for spacing between paragraphs */
    margin-bottom: 5px;
    font-size: 16px; /* Set the font size */
    font-family: "Arial", sans-serif;
    color: #000; /* Set the text color */
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.show-interest-button {
    background-color: #3C5BFF;
    font-size: 16px; /* Set the font size */
    font-family: "Arial", sans-serif;
    color: #000;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 390px; 
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Box shadow effect */
}

.popup{
    width: 400px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 100%;
    transform: translate(20px, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(20px, -50%) scale(1);


}

.popup img {
    margin-top: -50px;
}

.popup h2 {
    font-size: 38px;
    font-weight: 500px;
    margin: 30px 0 10px;
}

.popup button {
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background:#3C5BFF;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.select-lang-button {
    background-color: #fff;
    color: #000;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px 20px;
    display: inline-block;
    margin-bottom: 50px;
    cursor: pointer;
    font-size: 17px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);   
}

.language-info,
.select-lang-button{
    display: block;
}
